@font-face {
  src: url("/fonts/FernVariable-Roman-VF.woff2") format("woff2");
  font-family: "Fern Web";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
}

@font-face {
  src: url("/fonts/FernVariable-Italic-VF.woff2") format("woff2");
  font-family: "Fern Web";
  font-style: italic;
  font-weight: 400 800;
  font-display: swap;
}

:root {
  --black: hsl(100, 30%, 6%);
  --white: hsl(35, 30%, 94%);
  --primary-light: hsl(100, 50%, 25%);
  --primary-dark: hsl(100, 50%, 55%);
  --accent-light: hsl(35, 85%, 35%);
  --accent-dark: hsl(35, 85%, 65%);
}

html {
  --bg: var(--white);
  --text: var(--black);
  --primary: var(--primary-light);
  --accent: var(--accent-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--black);
    --text: var(--white);
    --primary: var(--primary-dark);
    --accent: var(--accent-dark);
  }
}

body {
  font-family: "Fern Web", Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  color: var(--text);
  background-color: var(--bg);
  max-width: 768px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 48px 0;
}

a {
  color: inherit;
}

a:hover {
  transition: color 150ms ease-in-out;
  color: var(--accent);
}

a:focus {
  color: var(--accent);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: currentColor 0px 0px 0px 2px;
  border-radius: 0.125rem;
}

h1,
h2,
h3 {
  font-weight: normal;
}
